body {
    font-family: Mukta, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
}

/* Header/NavBar */

.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    padding: 14px 14px;
    text-decoration: none;
}

.circle {
    position: fixed;
    overflow: hidden;
    z-index: 3;
    height: 200px;
    width: 200px;
    background-color: #ffafcc;
    border-radius: 50%;
    top: 0px;
    right: 0px;
    transform: scale(0.5) translate(40%, -40%);
}

.circle2 {
    position: fixed;
    overflow: hidden;
    z-index: 1;
    height: 50px;
    width: 50px;
    background-color: #ffafcc;
    border-radius: 50%;
    top: 50px;
    right: 50px;
    transform: scale(10);
    animation: open_menu 0.5s forwards;
}

.collapse_menu {
    position: fixed;
    overflow: hidden;
    z-index: 1;
    height: 50px;
    width: 50px;
    background-color: #ffafcc;
    border-radius: 50%;
    top: 50px;
    right: 50px;
    transform: scale(0);
    animation: collapse_menu 0.5s linear;
}

#menu {
    cursor: pointer;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-animation {
    animation: none !important;
}

.line {
    height: 10px;
    width: 100px;
    margin: 1em;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 4px 8px 10px 0 rgba(0, 0, 0, 0.2);
}

.line.one.active {
    animation: toggle_one 0.7s forwards;
}

.line.two.active {
    animation: toggle_two 0.7s forwards;
}

.line.three.active {
    animation: toggle_three 0.7s forwards;
}

.line.one.inactive {
    animation: toggle_one_rev 0.5s linear;
}

.line.two.inactive {
    animation: toggle_two_rev 0.5s linear;
}

.line.three.inactive {
    animation: toggle_three_rev 0.5s linear;
}

@keyframes toggle_one {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(25px) rotate(0deg);
    }

    100% {
        transform: translateY(25px) rotate(135deg);
    }
}


@keyframes toggle_two {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.5);
        opacity: 0.5;
    }


    100% {
        transform: scale(0);
        opacity: 0;
    }

}

@keyframes toggle_three {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-25px) rotate(0deg);
    }

    100% {
        transform: translateY(-25px) rotate(45deg);
    }
}

@keyframes toggle_one_rev {
    0% {
        transform: translateY(25px) rotate(135deg);
    }

    50% {
        transform: translateY(25px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}


@keyframes toggle_two_rev {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes toggle_three_rev {
    0% {
        transform: translateY(-25px) rotate(45deg);
    }

    50% {
        transform: translateY(-25px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes open_menu {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(11);
    }

    100% {
        transform: scale(10);
    }
}

@keyframes collapse_menu {
    0% {
        transform: scale(10);
    }

    20% {
        transform: scale(11);
    }

    100% {
        transform: scale(0);
    }
}

.nav-box {
    width: 200px;
    position: fixed;
    z-index: 2;
    top: 0px;
    right: -1000px;
}

.nav-box .navLinks p,
.nav-box .navLinks a {
    display: block;
    text-align: right;
    font-size: 24px;
    width: inherit;
    font-family: Bitter, serif;
}

.open {
    transition: 0.5s;
}

.open:nth-of-type(1) {
    transform: translateX(-1100px);
    transition-delay: 0s;
}

.open:nth-of-type(2) {
    transform: translateX(-1100px) rotate(-15deg);
    transition-delay: 0.1s;
}

.open:nth-of-type(3) {
    transform: translateX(-1075px) rotate(-30deg);
    transition-delay: 0.2s;
}

.open:nth-of-type(4) {
    transform: translateX(-1050px) rotate(-45deg);
    transition-delay: 0.3s;
}

.close {
    animation: fadeOut 0.7s linear;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #f773a3;
}

a:active {
    text-decoration: none;
}

h1 {
    font-family: Bitter, serif;
    font-weight: 500;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -1.5px;
    margin: 0;
}

.hero {
    background-color: #fddbeb;
    height: 100vh;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1,
.hero p {
    width: 75%;
    max-width: 900px;
    margin: 16px 0;
}

.hero p {
    font-family: Bitter, serif;
    font-size: 50px;
}

.hero hr {
    width: 50%;
    margin: 32px 0;
}

.hero p .subtitle {
    font-size: 24px;
}

#cursor {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 50px;
    background-color: black;
    animation: blink 1s step-end infinite;
}

@keyframes blink {

    from,
    to {
        background-color: transparent;
    }

    50% {
        background-color: white;
    }
}

.content-pages {
    height: 125px;
}

.content-pages h1 {
    font-size: 3em;
    height: 100px;
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 32px;
}

/* Footer */

footer {
    background-color: #ffafcc;
    margin-top: auto;
}

footer ul {
    list-style: none;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    text-align: center;
    padding: 15px 0;
}

footer ul li {
    display: inline;
    padding: 0 16px;
}

footer a:link {
    text-decoration: none;
    color: black;
}

footer a:visited {
    text-decoration: none;
    color: black;
}


footer li a:hover {
    border-bottom: 2px solid white;
    color: white;
}

.footer-content {
    text-align: center;
}

footer i {
    color: black;
    font-size: 1.5rem;
    margin: 0 8px;
}

footer i:hover {
    color: white;
}

footer p {
    color: black;
    margin: 0;
    padding: 8px 8px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ffafcc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fc79a9;
}

/* Resume */

.resume {
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}

.resume a:link {
    color: black;
}

/* Projects Gallery */

.project-gallery {
    background-color: #fddbeb;
    display: flex;
    align-items: center;
    padding: 50px 0px 200px 50px;
    height: 100%;
    border-radius: 15px;
}

.project-gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.project-gallery ul li:hover {
    cursor: pointer;
    opacity: 0.7;
}

.project-gallery ul li img {
    width: 250px;
}

.grid {
    display: grid;
    grid-template-areas:
        "creative rockpaperscissors magic8ball"
        "aerialarts aerialarts aerialarts";
    grid-gap: 16px;
    width: 50%;
    height: 250px;
}

#creative {
    grid-area: creative;
}

#rockpaperscissors {
    grid-area: rockpaperscissors;
}

#magic8ball {
    grid-area: magic8ball;
}

#aerialarts {
    grid-area: aerialarts;
}

.grid img {
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.25s ease
}

.popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    width: 100%;
    justify-content: center;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    transition: all 0.25s ease
}

.modal-header {
    box-sizing: border-box;
    height: 50px;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 15px 15px 0 0;
}

.closeBtn {
    font-size: 28px;
    cursor: pointer;
}

i.uil.uil-external-link-alt {
    color: white;
}

.modal-content {
    max-width: 500px;
}

.caption {
    box-sizing: border-box;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 0;
    border-radius: 0 0 15px 15px;
    text-align: center;
    padding: 1em;
}