body {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;   
}

/* Header/NavBar */

.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    padding: 14px 14px;
    text-decoration: none;
}

/* Dark Mode */
/* The switch - the box around the slider */

label{
    margin: 1em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5fb7ff;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(243, 215, 137);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4b4b4b;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4b4b4b;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #4b4b4b;

    box-shadow: inset -5px -5px gold;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


.circle {
    position: fixed;
    overflow: hidden;
    z-index: 3;
    height: 200px;
    width: 200px;
    background-color: #9f86c0;
    border-radius: 50%;
    top: 0px;
    right: 0px;
    transform: scale(0.5) translate(40%, -40%);
}

.circle2 {
    position: fixed;
    overflow: hidden;
    z-index: 1;
    height: 50px;
    width: 50px;
    background-color: #9f86c0;
    border-radius: 50%;
    top: 50px;
    right: 50px;
    transform: scale(10);
    animation: open_menu 0.5s forwards;
}

.collapse_menu {
    position: fixed;
    overflow: hidden;
    z-index: 1;
    height: 50px;
    width: 50px;
    background-color: #9f86c0;
    border-radius: 50%;
    top: 50px;
    right: 50px;
    transform: scale(0);
    animation: collapse_menu 0.5s linear;
}

#menu {
    cursor: pointer;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-animation {
    animation: none !important;
}

.line {
    height: 10px;
    width: 100px;
    margin: 1em;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 4px 8px 10px 0 rgba(0, 0, 0, 0.2);
}

.line.one.active {
    animation: toggle_one 0.7s forwards;
}

.line.two.active {
    animation: toggle_two 0.7s forwards;
}

.line.three.active {
    animation: toggle_three 0.7s forwards;
}

.line.one.inactive {
    animation: toggle_one_rev 0.5s linear;
}

.line.two.inactive {
    animation: toggle_two_rev 0.5s linear;
}

.line.three.inactive {
    animation: toggle_three_rev 0.5s linear;
}

@keyframes toggle_one {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(25px) rotate(0deg);
    }

    100% {
        transform: translateY(25px) rotate(135deg);
    }
}


@keyframes toggle_two {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.5);
        opacity: 0.5;
    }


    100% {
        transform: scale(0);
        opacity: 0;
    }

}

@keyframes toggle_three {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-25px) rotate(0deg);
    }

    100% {
        transform: translateY(-25px) rotate(45deg);
    }
}

@keyframes toggle_one_rev {
    0% {
        transform: translateY(25px) rotate(135deg);
    }

    50% {
        transform: translateY(25px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}


@keyframes toggle_two_rev {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes toggle_three_rev {
    0% {
        transform: translateY(-25px) rotate(45deg);
    }

    50% {
        transform: translateY(-25px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes open_menu {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(11);
    }

    100% {
        transform: scale(10);
    }
}

@keyframes collapse_menu {
    0% {
        transform: scale(10);
    }

    20% {
        transform: scale(11);
    }

    100% {
        transform: scale(0);
    }
}

.nav-box {
    width: 200px;
    position: fixed;
    z-index: 2;
    top: 0px;
    right: -1000px;
}

.nav-box .navLinks p,
.nav-box .navLinks a {
    display: block;
    text-align: right;
    font-size: 24px;
    width: inherit;
}

.open {
    transition: 0.5s;
}

.open:nth-of-type(1) {
    transform: translateX(-1100px);
    transition-delay: 0s;
}

.open:nth-of-type(2) {
    transform: translateX(-1100px) translateY(40px) rotate(-30deg);
    transition-delay: 0.1s;
}

.open:nth-of-type(3) {
    transform: translateX(-1050px) translateY(50px) rotate(-45deg);
    transition-delay: 0.2s;
}

.close {
    animation: fadeOut 0.7s linear;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #444444;
}

a:active {
    text-decoration: none;
}

.hamburger {
    height: 50px;
    width: 50px;
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 16px;
}

.bar1,
.bar2,
.bar3 {
    background-color: black;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 15px;
}

.mobileNav {
    width: 80px;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 66px;
    right: -160px;
    margin: 0;
    padding: 16px;
    transition: transform 0.5s;
}

.mobileNav img {
    width: 24px;
    height: 24px;
}

.openDrawer {
    transform: translateX(-160px);
}

.mobileNav a {
    text-decoration: none;
    color: black;
    margin: 16px 0;
}

.mobileNav a:hover {
    text-decoration: underline;
}

.animateBar1 {
    animation: flipBar1 0.7s;
    animation-fill-mode: forwards;
}

.animateBar2 {
    animation: fadeBar2 0.7s;
    animation-fill-mode: forwards;
}

.animateBar3 {
    animation: flipBar3 0.7s;
    animation-fill-mode: forwards;
}

@keyframes flipBar1 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(45deg) translate(4px, 10px);
    }

}

@keyframes fadeBar2 {
    from {
        transform: scaleX(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;
    }

}

@keyframes flipBar3 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-45deg) translate(4px, -10px);
    }

}

h1 {
    font-weight: 500;
    font-size: 5em !important;
    font-weight: 400;
    letter-spacing: -1.5px;
    margin: 0;
}

h2{
    font-size: 2em !important;
}

.hero {
    /* background-image: url(media/cutesy-wallpaper.png);  */
    background-color: #5e548e;
    background-size: cover;
    height: 85vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 6em;
    font-family: 'DM Serif Display', serif;
}

.hero h1,
.hero p {
    width: 75%;
    max-width: 900px;
    margin: 16px 0;
}

.hero p {
    font-size: 50px;
}

.hero hr {
    width: 50%;
    margin: 32px 0;
}

.subheader{
    color: #ffffff;
}

.blinking-cursor {
    font-weight:100;
    font-size: 60px;
    color: #ffffff;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #ffffff;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #ffffff;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #ffffff;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

/* gallery starts */

  .project-grid{
    display: grid;
    grid-template-areas:
      "devil devil waffle"
      "devil devil code"
      "illustrations uiux code";
    grid-gap: 16px;
    width: 100%;
    max-width: 90%;
    margin: 50px 30px 20px 130px;
  }
  
  #devil{
    grid-area: devil;
  }
  
  #waffle{
    grid-area: waffle;
  }
  
  #code{
    grid-area: code;
  }
  
  #illustrations{
    grid-area: illustrations;
  }
  
  #uiux{
    grid-area: uiux;
  }
  
  .project{
    position: relative;
  
  }
  
  .project img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  
  .project .overlay{
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    transition: all 0.2s ease;
  }
  
  .project .overlay:hover{
    opacity: 1;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 1100px){
    .project-grid{
      max-width: 100%;
      grid-template-areas: 
        "devil devil"
        "waffle code"
        "illustrations uiux";
    }
  }
  
  @media only screen and (max-width: 768px){
    .project-grid{
      grid-template-areas: 
        "devil devil"
        "waffle waffle"
        "code code"
        "illustrations uiux";
    }
    .project .overlay{
      font-size: 24px;
    }
  }

/* gallery ends */

.content-pages {
    height: 120px;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 32px;
}

/* About */
#about{
    height: 100vh;
}

.wrap{
    float: right;
    margin: 5px;
}

.profile_pic{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

li.certs {
    list-style: none;
    font-size: 1.5em;
    display: flex;
	flex-direction: row;
	align-items: center;
}

  li.certs::before {
    content: '';
    display: inline-block;
    height: 70px;
    width: 70px;
    background-image: url('media/award-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: .25em;
  }

  .skills-content{
    margin-left: 2em;
  }
  

.frontend-skills img,
.graphic-skills img,
.other-skills img {
    height: 50px;
    width: 50px;
    margin: .25em;
}

.frontend-skills img:hover,
.graphic-skills img:hover,
.other-skills img:hover {
    scale: 1.2;
    opacity: 0.8;
}

.html5:hover{
    filter: invert(72%) sepia(82%) saturate(5828%) hue-rotate(348deg) brightness(100%) contrast(89%);
}
.css3:hover{
    filter: invert(35%) sepia(32%) saturate(7490%) hue-rotate(215deg) brightness(96%) contrast(96%);
}

.javascript:hover{
    filter: invert(92%) sepia(78%) saturate(4921%) hue-rotate(321deg) brightness(113%) contrast(88%);
}

.node:hover{
    filter: invert(42%) sepia(64%) saturate(436%) hue-rotate(70deg) brightness(91%) contrast(89%);
}

.php:hover{
    filter: invert(35%) sepia(30%) saturate(808%) hue-rotate(192deg) brightness(94%) contrast(90%);
}

.bootstrap:hover{
    filter: invert(27%) sepia(15%) saturate(2572%) hue-rotate(225deg) brightness(101%) contrast(89%);
}

.python:hover{
    content: url("media/python-color.svg");
}

.git:hover{
    filter: invert(38%) sepia(87%) saturate(2810%) hue-rotate(347deg) brightness(99%) contrast(92%);
}

.figma:hover{
    content: url("media/figma-color.svg");
}

.adobe-ps:hover{
    filter: invert(11%) sepia(61%) saturate(3573%) hue-rotate(234deg) brightness(100%) contrast(145%);
}

.adobe-ai:hover{
    filter: invert(50%) sepia(18%) saturate(5771%) hue-rotate(353deg) brightness(93%) contrast(85%);
}

.adobe-id:hover{
    filter: invert(8%) sepia(67%) saturate(4725%) hue-rotate(324deg) brightness(67%) contrast(103%);
}

.canva:hover{
    filter: invert(54%) sepia(92%) saturate(349%) hue-rotate(136deg) brightness(96%) contrast(99%);
}

.windows:hover{
    filter: invert(52%) sepia(88%) saturate(2923%) hue-rotate(167deg) brightness(96%) contrast(102%);
}

.office:hover{
    filter: invert(43%) sepia(21%) saturate(3279%) hue-rotate(354deg) brightness(88%) contrast(93%);
}

[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
	  opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-moz-transition:    
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition:         
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: auto;
  border-radius: 5px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after{
  margin-left: -10px;
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px); 
}


  a#resume {
    color: #9f86c0
  }

.branding-board{
    height: auto;
    width: 1000px;
}

/* Projects Gallery */

.project-gallery {
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    padding: 50px;
    height: 100%;
    border-radius: 15px;
}

.project-gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.project-gallery ul li:hover {
    cursor: pointer;
    opacity: 0.7;
}

.project-gallery ul li img {
    width: 250px;
}

.grid {
    display: grid;
    grid-template-areas:
        "piggy creative rockpaperscissors"
        "magic8ball aerialarts aerialarts";
    grid-gap: 16px;
    width: 50%;
    height: auto;
}

#piggy {
    grid-area: piggy;
}

#creative {
    grid-area: creative;
}

#rockpaperscissors {
    grid-area: rockpaperscissors;
}

#magic8ball {
    grid-area: magic8ball;
}

#aerialarts {
    grid-area: aerialarts;
}

.grid img {
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.25s ease
}

.popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    width: 100%;
    justify-content: center;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    transition: all 0.25s ease
}

.modal-header {
    box-sizing: border-box;
    height: 50px;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 15px 15px 0 0;
}

.closeBtn {
    font-size: 28px;
    cursor: pointer;
}

i.uil.uil-external-link-alt {
    color: white;
}

.modal-content {
    max-width: 500px;
}

.caption {
    box-sizing: border-box;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 0;
    border-radius: 0 0 15px 15px;
    text-align: center;
    padding: 1em;
}

.center{
    text-align: center;
}

.q{
    height: 400px;
    width: 400px;
    display: inline;
    float: left;
    width: auto;
    padding: 15px;
    margin: auto;
}

/* Footer */

.footer {
    /* display:block; */
    position: relative;
    margin-top: auto;
    bottom: 0;
    /* left: 0; */
    width: 100%;
    background-color: #5e548e;
}

.footer ul {
    list-style: none;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    text-align: center;
    padding: 15px 0;
}

.footer ul li {
    display: inline;
    padding: 0 16px;
}

.footer a:link {
    text-decoration: none;
    color: white;
}

.footer a:visited {
    text-decoration: none;
    color: white;
}


.footer li a:hover {
    border-bottom: 2px solid #ccc;
    color: #ccc;
}

.footer-content {
    text-align: center;
}

.footer i {
    color: white;
    font-size: 1.5rem;
    margin: 0 8px;
}

.footer i:hover {
    color: #ccc;
}

.footer p {
    color: white;
    margin: 0;
    padding: 8px 8px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbbbbb;
}

@media only screen and (max-width: 875px) {

    /* Home */
    .hero h1 {
        font-size: 50px;
    }

    .hero p {
        font-size: 40px;
    }
}

@media only screen and (max-width: 646px) {

    /* Home */
    .hero span.wave {
        display: none;
    }

    .hero p {
        font-size: 20px;
    }

    /* Projects */

    .project-gallery {
        height: 650px;
        margin: auto;
        display: block;
    }
}

@media only screen and (max-width: 425px) {

    /* Nav */
    .logo {
        height: 50px;
        width: 50px;
    }

    .circle {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hamburger:hover {
        cursor: pointer;
    }
    /* About Me */
    
    #about{
        height: auto;
    }

    .about h1{
        font-size: 15px;
    }

    .about h2{
        margin-top: 2em;
    }

    .wrap{
        float: none;
    }
}
